@model BookStore.Areas.Shelves.Data.mShelves
<div class="row">
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <div class="input-group input-group-sm mb-4">
                            @Html.HiddenFor(model => model.selfId)
                            <div class="input-group-prepend">
                                <span class="form-control-rounded-left input-group-text" id="inputGroup-sizing-sm">Rack Code</span>
                            </div>
                            <select class="form-control basic" id="rackId">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <div class="input-group input-group-sm mb-4">
                            <div class="input-group-prepend">
                                <span class="form-control-rounded-left input-group-text" id="inputGroup-sizing-sm">Shelf Code</span>
                            </div>
                            <input type="text" id="selfCode" value="@Model.selfCode" class="form-control-rounded-right form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" id="UpdateRack"> <i class="flaticon-plus-2"></i> Update </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        getActiveRacks();
    });
   function getActiveRacks() {
    $.ajax({
        url: '@Url.Action("GetActiveShelves")',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var selectElement = $('#rackId');
            selectElement.empty();
            $.each(data, function (index, rack) {
                var option = $('<option></option>');
                option.val(rack.rackId);
                option.text(rack.rackCode);
                selectElement.append(option);
            });

            selectElement.val('@Model.selfRackId');
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
}

    $('#UpdateRack').click(function () {
  var _data = {
      selfCode: $("#selfCode").val(),
      selfRackId: $("#rackId").val(),
      selfId: $("#selfId").val()
  };

  $.ajax({
    type: "POST",
    url: "@Url.Action("UpdateShelves")",
    contentType: "application/json",
    data: JSON.stringify(_data), // Convert the data to JSON string
    dataType: "json",
      success: function (response) {
          console.log(response);
          alert(response.message);
          if (response.rowsAffected != -1) {
              getAllShelves();
              $("#ShelfModal").modal("hide");
          }

    },
    error: function (xhr) {
      console.log("Error: " + xhr.statusText);
    }
  });
});
</script>